---
layout: default
---

<article class="hero hero--image " style="--image-url: url(https://a.pirati.cz/prerov/img/covko-prerov.jpg)">
  <div class="container grid lg:grid-rows-4 lg:grid-cols-7 gap-2 items-center">
    <div class="lg:row-span-4 lg:col-span-3 order-1">
      <h1 class="head-alt-md md:head-alt-xl">Jsme Piráti!<br />máme odvahu změnit Prostějov </h1>
    </div>
    <div class="lg:row-span-1 lg:col-span-3 order-3">
      <div class="mt-4 md:mt-8 space-y-4">
    <button class="btn btn--white btn--fullwidth md:btn--autowidth text-lg">
          <div class="btn__body "><a href="https://prostejov.pirati.cz/volby-2022/"> Komunální volby</a></div>
    <button class="btn btn--white btn--fullwidth md:btn--autowidth text-lg">
 </button>
        <button class="btn btn--white btn--fullwidth md:btn--autowidth text-lg">
          <div class="btn__body "><a href="https://nalodeni.pirati.cz/"> Přidejte se k nám</a></div>

      </div>
    </div>
    <div class="lg:row-span-4 lg:col-span-4 order-2">
      <img src="https://a.pirati.cz/prerov/img/lenka_prerov11.png" />
    </div>
  </div>
</article>
 <div class="container container--default pt-4 lg:pb-24">
  <br />
  {% include homepage/countdown.html deadline="2022-09-23 14:00:00" %}
</div> 

<div class="container container--default pt-4 lg:pb-24">
  <br />
  {% include homepage/news.html title="Aktuality z Přerova" %}
  {% include homepage/calendar.html %}
  {% include homepage/social.html %}
</div>
